.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
}

.about h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.about h3 {
    margin-bottom: 1em;
}

.about p {
    margin-bottom: 1em;
    max-width: 500px;
    line-height: 1.4em;
    text-align: center;
}

.about ul {
    margin-bottom: 1em;
}

.about li {
    line-height: 1.4em;
}